body {
    background-color: #e55b5b; 
    background-image: url('tu-imagen.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; /* al 100% de lo que se ve */
    margin: 0; /* elimina margen */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    background-color: rgba(159, 14, 14, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
