body{
  margin: 0;
  padding: 0;
  display: flex;
 
  /*background-image: url('img/Captura de pantalla 2024-01-25 232052.png'); */
  /*background-size: 235vh ;*/
  background: linear-gradient(
  to right,
  /* rgb(257, 87, 30) 16.7%,
  rgb(253, 162, 45) 16.7% 33.4%,
  rgb(179, 252, 5) 33.4% 50.1%,
  rgb(97, 255, 161) 50.1% 66.8%,
  rgb(73, 182, 230) 66.8% 83.5%,
  rgb(2, 237, 202) 83.5% 100% */
  #D75E24 16.7%,
  #E68E0C 16.7% 33.4%,
  #769E33 33.4% 50.1%,
  #009A88 50.1% 66.8%,
  #5FB9D3 66.8% 83.5%,
  #0192D0 83.5% 100%
);

}
  


  .titulo{
    text-align: center;
  }
  .logo{
    height: 10%;
    width: 10%;
  }
  .formulario {
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 10%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .btn{
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    padding: 10px 30px;
    border: solid #e8e8e8 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 45%;
    transition : 599ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
    }