/*Footer*/
footer * {
    font-family: poppins;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:min-content;
}

.pie-pagina {
    background-color: #009A88;
    display:absolute;
    margin:0;
    padding: 0;
}



.grupo-a {
    width: 100%;
    max-width: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 5px;
}

.box-info {
    width: 100%;
    height: 100%;
    text-align: left;
    margin-left: 25px;
}


.box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start; /* Alinear elementos al principio */
    align-items: center;
    margin-left: 25px;
}

.box-RRSS {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: right;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 1px;
    background-color: #ffffff;
    text-align: right;
    transition: all 300ms ease;
}

.red-social a:hover {
    color: #b3fc05;
}
